.containerCards{
    z-index: -10;
}


#liste {
    min-height: 101.5vh;


    .cards {
        display: flex;
        justify-content: center;
        padding: 3.75rem;
        width: 80%;
        margin: auto;

        @media screen and (max-width: 1024px)
        {
            width: 90%;
        }
        @media screen and (max-width: 425px)
        {
            width: 95%;
            padding: 3rem 2rem;
        }
    }

    .card {
        cursor: pointer;
        font-variant:small-caps;
        width: 250px;
        border: 0.6rem solid ;
        border-color: rgba(73, 5, 161, 0.87);
        img {
        height: 180px;
        }

.content {
    font-size:15px;
}

.ui.message {
    display: block;
    font-size:1.1em;
    text-align:center;
    font-weight: bolder;
    color:rgba(102, 1, 233, 0.836) !important;
    font-variant:small-caps
}

.Address {
  font-size: 0.8rem;
  color: rgb(102, 1, 233);
  margin-bottom: 5px;
}

.Region {
    margin-bottom: 5px;
}

.Categorie {
    margin-bottom: 5px;
}


.Thematique {
    margin-bottom: 5px;
}

.Periode {
    margin-bottom: 5px;
}

.Public {
    margin-bottom: 5px;
}

.Description {
    margin-bottom: 5px;
    background-color:rgba(102, 1, 233, 0.192);
    color: black;
    font-size:12px;
    font-style:italic;
}


    }  
    .back-to-map {
        position:fixed;
        bottom: 20px;
        left: 50%;
        width: 200px;
        margin-left:-100px;
        text-align: center;
        &-btn {
        display: inline-block;
        padding: 6px 12px 6px;
        border: 2px solid rgba(102, 1, 233, 0.836); 
        background-color: white;
        border-radius: 25px;
        color: rgba(102, 1, 233, 0.836);
        transition: 0.2s;
        box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.3);
        font-size:0.9em;
            i.reply {
                color:purple;
                transition: 0.3s;
            }
        }
        &-btn:hover {
            color:purple;
            i.map {
                color:rgba(102, 1, 233, 0.836);
            }
            i.reply {
                color:rgba(102, 1, 233, 0.836);
            }
        }
    } 

    .containerCards {
        height: 100vh;
        width: 100vw;
        position: fixed;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        //min-height: 100vh;
        min-height: 35rem;
        background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
        background-blend-mode: soft-light;
        background-size: cover;
        background-position: center center;
        padding: 2rem;
    }

    .bird {
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
        background-size: cover;
        width: 88px;
        height: 125px;
        will-change: background-position;
        animation-name: fly-cycle;
        animation-timing-function: steps(10);
        animation-iteration-count: infinite;
    
        &--one {
            animation-duration: 1s;
            animation-delay: -0.5s;		
        }
        
        &--two {
            animation-duration: 0.9s;
            animation-delay: -0.75s;
        }
        
        &--three {
            animation-duration: 1.25s;
            animation-delay: -0.25s;
        }
        
        &--four {
            animation-duration: 1.1s;
            animation-delay: -0.5s;
        }
    
    }
    
    .bird-container {
        position: absolute;
        top: 20%;
        left: -10%;
        transform: scale(0) translateX(-10vw);
        will-change: transform;
        
        animation-name: fly-right-one;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        
        &--one {
            animation-duration: 15s;
            animation-delay: 0;
        }
        
        &--two {
            animation-duration: 16s;
            animation-delay: 1s;
        }
        
        &--three {
            animation-duration: 14.6s;
            animation-delay: 9.5s;
        }
        
        &--four {
            animation-duration: 16s;
            animation-delay: 10.25s;
        }
        
    }
    
    @keyframes fly-cycle {
        
        100% {
            background-position: -900px 0;
        }
        
    }
    
    @keyframes fly-right-one {
        
        0% {
            transform: scale(0.3) translateX(-10vw);
        }
        
        10% {
            transform: translateY(2vh) translateX(10vw) scale(0.4);
        }
        
        20% {
            transform: translateY(0vh) translateX(30vw) scale(0.5);
        }
        
        30% {
            transform: translateY(4vh) translateX(50vw) scale(0.6);
        }
        
        40% {
            transform: translateY(2vh) translateX(70vw) scale(0.6);
        }
        
        50% {
            transform: translateY(0vh) translateX(90vw) scale(0.6);
        }
        
        60% {
            transform: translateY(0vh) translateX(110vw) scale(0.6);
        }
        
        100% {
            transform: translateY(0vh) translateX(110vw) scale(0.6);
        }
        
    }
    
    @keyframes fly-right-two {
        
        0% {
            transform: translateY(-2vh) translateX(-10vw) scale(0.5);
        }
        
        10% {
            transform: translateY(0vh) translateX(10vw) scale(0.4);
        }
        
        20% {
            transform: translateY(-4vh) translateX(30vw) scale(0.6);
        }
        
        30% {
            transform: translateY(1vh) translateX(50vw) scale(0.45);
        }
        
        40% {
            transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
        }
        
        50% {
            transform: translateY(0vh) translateX(90vw) scale(0.45);
        }
        
        51% {
            transform: translateY(0vh) translateX(110vw) scale(0.45);
        }
        
        100% {
            transform: translateY(0vh) translateX(110vw) scale(0.45);
        }
        
    }   
    



}
