.map{
    position: relative;
    width: 50%;
    margin-top: 3rem;
}

.francemap {
    width: 80%;
    margin: auto;
}

.markers{
    margin: auto;
}
.map span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    top: 50%;
    left: 25em;
    background-color:#fff;

    /* Highlight animation */
    animation: highlight 1.5s linear infinite;

}
@keyframes highlight{
    100%{
        transform: scale(5);
        opacity: 0;
    }
}
/* Same animation for different location */
.map .marker2{
    left: 13em;
    top: 65%;
    animation-delay: .5s;
}
.map .marker3{
    left: 21em;
    top: 85%;
    animation-delay: 1s;
}
.map .marker4{
    left: 8em;
    top: 26%;
    animation-delay: .8s;
}
.map .marker5{
    left: 18em;
    top: 23%;
    animation-delay: .3s;
}

