{% extends 'base.html.twig' %}

{% block title 'Parametres Backoffice' %}

{% block body %}

{% include 'layout/sidebar.html.twig' %}
<div class="wrapper">
    <main class="container-fluid">
        {% include 'layout/message.html.twig' %}
        <h1>Parametres</h1>
    </main>
</div>

{% endblock %}
