{% extends 'base.html.twig' %}

{% block title 'Edition Catégorie' %}

{% block body %}

{% include 'layout/sidebar.html.twig' %}

<div class="wrapper">
    <main class="container-fluid">
        {{ form_start(form) }}
        <h1>Edition d'une Catégorie</h1>
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Editer la catégorie</button>
            <a href="{{ path('dashboard.category.index') }}" class="btn btn-info">Revenir sur la liste</a>
        {{ form_end(form) }}
    </main>
</div>

{% endblock %}