{% extends 'base.html.twig' %}

{% block title 'Accueil Catégories' %}

{% block body %}

{% include 'layout/sidebar.html.twig' %}

<div class="wrapper">
    {% include 'layout/message.html.twig' %}
    <main class="container-fluid">
            <h3>Liste des Catégories</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aut vel reprehenderit quo accusamus eveniet, vitae accusantium, ducimus, tenetur ratione maxime voluptatibus mollitia fugit odit ipsum corrupti? Fugit, nulla soluta.
                <a href="{{ path('dashboard.category.add') }}" class="btn btn-success">Ajouter une catégorie</a>
            </p>
            {% if categories == null %}
                <div class="alert alert-danger" role="alert">
                    <h4>Aucune catégories en base de données</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam culpa nulla ipsam sed laborum in nemo dolor nostrum voluptatum eveniet id laboriosam beatae enim iusto dolore nihil facilis, sequi reprehenderit.</p>
                </div>
            {% else %}   
                <div class="row">
                    {% include 'dashboard/category/_table.html.twig' %}  
                </div>
            {% endif %}
    </main>
</div>
{% endblock %}
