form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 225, 146, 0.5);
  opacity: 0.7;
  justify-content: space-between;
  box-shadow: 0px 0px 9px 3px rgba(83, 81, 81, 0.5);

  @media screen and (max-width: 1023px)
      {
        padding: 1rem;
      }

  .form-button {
    font-variant: small-caps;
    background-color: rgb(60, 43, 124);
    color: #fff;
    border-radius: 4px;
    padding: 1rem;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    transition: 0.4s;

    @media screen and (max-width: 1023px)
      {
        font-size: 0.8rem;
      }

    &:hover {
      background-color: rgb(204, 107, 51);
    }
  }
}
