{% include 'layout/base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Bienvenue</h1>
        <pre>
            {{ dump(monuments)}}
        </pre>
        <pre>
            {{ dump(regions)}}
        </pre>
        <pre>
            {{ dump(status)}}
        </pre>
    </div>

{% endblock %}
