<div class="container mt-4">
    <h1 class="font-weight-bold">
        Erreur dans la recherche, vous vous trompez d'endroit.
    </h1>
    <img src="{{ asset('assets/img/404.svg') }}" alt="">
    <a href="{{ path('home') }}" class="btn btn-success">Revenir à l'accueil</a>
</div>