<h1>Activer votre compte</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officiis alias minima! Cupiditate quas eum recusandae voluptate possimus provident, dicta officiis neque enim tempora, laboriosam quo expedita earum, tempore quibusdam?</p>
<a href="{{ absolute_url(path('activate', {'token': token})) }}">Activer mon compte</a>