<div class="col-12 md-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>Nom</th>
            {# <th>Description</th> #}
            <th>Adresse</th>
            <th>Image</th>
            <th>Créer le</th>
            <th>Affiché</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Region</th>
            <th>Catégorie</th>
            <th>P.V</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for monument in monuments %}
        <tr>
            <td>Test</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>