{% extends 'base.html.twig' %}

{% block title 'Accueil Dashboard' %}

{% block body %}

{% include 'layout/sidebar.html.twig' %}

<div class="wrapper">
    {% include 'layout/message.html.twig' %}
    <main class="container-fluid">
            <h3>Liste des Monuments en attente</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque est incidunt animi quia hic expedita sit enim dolor eos voluptatem quis sequi aliquid ea porro, quas atque natus vitae ipsam!
            </p>
    </main>
</div>
{% endblock %}
