{% extends 'base.html.twig' %}

{% block title 'Accueil Dashboard' %}

{% block body %}

{% include 'layout/sidebar.html.twig' %}

<div class="wrapper">
    <main class="container-fluid">
        <h3>Liste des Monuments</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aut vel reprehenderit quo accusamus eveniet, vitae accusantium, ducimus, tenetur ratione maxime voluptatibus mollitia fugit odit ipsum corrupti? Fugit, nulla soluta.</p>
        {% include 'dashboard/monument/_table.html.twig' %}
    </main>
</div>
{% endblock %}
