{% extends 'base.html.twig' %}

{% block title 'Accueil Dashboard' %}

{% block body %}

{% include 'layout/sidebar.html.twig' %}

<div class="wrapper">
    {% include 'layout/message.html.twig' %}
    <main class="container-fluid">
            <h3>Liste des Monuments </h3>
            <p>
                Actuellement <span class="badge badge-secondary">{{ count }}</span> monuments
            </p>
            {% if monuments is defined %}
                <div class="alert alert-danger" role="alert">
                    <h4>Aucun monuments en base de données</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam culpa nulla ipsam sed laborum in nemo dolor nostrum voluptatum eveniet id laboriosam beatae enim iusto dolore nihil facilis, sequi reprehenderit.</p>
                </div>
            {% else %}   
            <div class="row">
                <h1>Monument actifs</h1>
                {% include 'dashboard/monument/_table.html.twig' %}  
            </div>
                {#% for monument in monuments %}   
                    {#% if monument.isActive == false %}
                    <div class="row">
                        <h1>Monument en attente</h1>
                        {% include 'dashboard/monument/_table.accept.html.twig' %}  
                    </div>
                    {% endif %}
                    {% else %}
                {% endfor %#}
            {% endif %}
    </main>
</div>
{% endblock %}
