.nav-museo{
    background-color: var(--primary-color);
    box-shadow: none;
}

.btn{
    margin: 1rem;
}

.btn-primary{
    background-color: var(--primary-color);
}

.btn-success{
    background-color: green;
}

.btn-danger{
    background-color: red;
}

.dropdown-content{
    top:64px !important;
}

.alert{
    width: 100%;
    background-color: #e4e4e4;
    padding: 1rem;
    border-radius: 1rem;
}

.alert-warning{
    background-color: var(--secondary-color);
    color:black;
}

.badge{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    color:#000;
    font-weight: bold;
}