:root{
    /* Colors for Scrollbar */
    --bg-primary-color-scrollbar:#1e1e25;
    --bg-secondary-color-scrollbar:#6649b8;
    /* Colors */
    --bg-white-color:#fff;
    --bg-primary-color:#6A2C70;
    --bg-secondary-color:#B83B5E;
}

body{
    font-style: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-white-color);
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background-color: var(--bg-primary-color-scrollbar);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--bg-secondary-color-scrollbar);
}

/* Sidebar */

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--bg-white-color);
    font-size: 1rem;
    background-color: var(--bg-secondary-color);
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg{
    transform: rotate(0deg);
    transition: 200ms ease;
}

.sidebar:hover .logo svg{
    transform: rotate(-180deg);
}

.sidebar{
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary-color);
    transition: width 200ms ease;
    z-index: 1000000;
}

.sidebar:hover{
    width: 16rem;
}

.sidebar:hover .link-text{
    display: block;
}

.sidebar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sidebar-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.sidebar-item:last-child{
    margin-top: auto;
}

.sidebar-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--bg-white-color);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: filter 200ms ease;
}

.sidebar-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary-color);
    color: #fff;
    transition: background-color 200ms ease;
}

.sidebar-link img{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--bg-white-color);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: filter 200ms ease;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 1.5rem;
}

/* Class for Main */

.wrapper{
    margin-left: 5rem;
    padding: 1rem;
}

.badge{
  font-size: 12px;
  background-color: #e5e5e5;
  border-radius: 1rem;
  padding: 0.4rem;
}

.badge-primary{
  color:var(--bg-white-color);
  background-color: var(--bg-primary-color);
}

.badge-warning{
  color:var(--bg-white-color);
  background-color: rgb(255, 123, 0);
}

.disabled{
    opacity: 0.3 !important;
}

/* ? Class to bootstrap modify */

.card{
    -webkit-box-shadow: 0px 0px 59px -28px rgba(102,73,184,1);
    -moz-box-shadow: 0px 0px 59px -28px rgba(102,73,184,1);
    box-shadow: 0px 0px 59px -28px rgba(102,73,184,1);
}

.card.disabled{
    transition: 200ms ease;
    filter: blur(0.1em);
}

/* ! Media Queries */

@media screen and (max-width: 770px) {
    .sidebar-item{
        transition: 200ms ease;
        width: 100%;
    }
    
    .sidebar-item:hover{
        transition: 200ms ease;
        width: 100%;
    }
}

@media screen and (min-width: 770px) {
    .sidebar-item{
        transition: 200ms ease;
        filter: blur(0.05em);
        width: 100%;
    }
    
    .sidebar-item:hover{
        transition: 200ms ease;
        filter: blur(0);
        width: 100%;
    }
}