#menu {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  padding-top: 15px;
  

  button#add-button {
    bottom: 2em;
    left: 50vw;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;

    & > i.icons {
        font-size: 2em;
        transform: translateX(2px);
    }
    &:hover {
        background-color: #ffffff !important;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        // transform: scale(1.3);
        color: purple;
        opacity: 0;

        g {
            // transform: scale(1.3);
        }

        textPath {
            font-size: 1.9em;
            letter-spacing: 6px;
            // text-transform: uppercase;
        }
        #circleText {
            fill: purple;
        }

    }
}

  .result {
    text-align: center;
    .city {
        font-weight: bold;
    }
}

  .ui.button {
      background-color: #ffffff;
      color: purple;
      border: 2px solid purple;
      border-collapse: collapse;
      padding: 7px 12px;
      width: 120px;
      box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
      &:hover {
          color: #B83B5E;
      }
      &.active {
        background-color: rgb(211, 206, 227);
      }
      &.no-border-left {
          border-left: none;
      }
  }
  .search > div > div > input {
      margin-bottom: 0;
      // margin-top: 20px;

  }
  .input-container .input {
      border-color: purple;
      box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.40);
      &:focus {
          border-color: purple;
      }
  }
  .search.link.icon {
      // top: 10px;
      right: 10px;
  }
  .menu.transition { // i.e. dropdown menu
      border: none;
      box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.40);
      font-size: 1rem;
      font-weight: 700;
      z-index: 1500000;
      &.option {
          z-index: 1500000;
      }
  }

    @media screen and (max-width: 430px) { 
      // For mobile view, the search field is displayed as a button, that becomes an input when focused
      z-index: 401;
      align-items: top;
      padding: 0;

      .visible {
        left: -3rem;
      }
      #burgernav {
        z-index: 401 !important;
      }
      .hamburger {
        padding: 0.3rem 0;
        &-inner {
          width: 2rem;
          &::before {
            width: 2rem;
          }
          &::after {
            width: 2rem;
          }
        }
      }
      .menu {
        top: -1rem;
        z-index: 40 !important;
      }
      .search-menu {
        top: 2rem;
      }

      .ui.button { // Buttons carte / bâtiments
        padding: 0.2rem 0.5rem;
      }
      
      i.search.link.icon { // Icon magnifying glass
          pointer-events: none;
          height: inherit;
          top: 2rem;
      }
      .ui.search > div > div > input { // the search input
          width: 3em;
          &::placeholder {
              opacity: 0;

          }
          & + label { // its label "recherche"
              opacity: 0
          }
          &:focus { // When input is focused, it movez to the center
              width: inherit;
              transform: translateX(calc(-40vw + 50%));

              &::placeholder { 
                // placheholder appears only when field opened in moble
                  opacity: inherit;
              }

              & + label { // Label while field is focused
                  transform: translate(calc(-40vw + 175%), -13px);
                  opacity: 1;
              }
          }
      }
      // input search when has value (centered)
      .ui.search > div.not-empty > div > input {
        width: inherit;
        transform: translateX(calc(-40vw + 50%));
        & + label { // label stays
          transform: translate(calc(-40vw + 150%), -13px);
          opacity: 1;
        }
      }
      // Icon not displayed when input not empty :
      .ui.search > div.not-empty > i.search.link.icon {
        display: none;

      }
      button#add-button { // But add button is
          position: fixed;
          display: block;
          top: 90vh;
          height: 4rem;
          width: 4rem;
      }

    }
}


