.welcome {
    filter: brightness(1.05);
    background-image: url("../../styles/images/BG-Login-Signin.png");
    background: linear-gradient( rgba(251, 225, 146, 0.6),rgba(0, 0, 255, 0.5));
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Open Sans', sans-serif;
  
    &-container {
      margin: 0;
      position: absolute;
      max-width: 400px;
      min-width: 300px;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  
      &_subtitle {
        font-variant: small-caps;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 50px 0;
        color: rgb(100, 43, 124);
        
        span {
          font-style: italic;
        }
      }
    }
    img {
        width: 100%;
      }
}
