{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Nos derniers articles</h1>
        {% if posts == null %}
            <div class="alert alert-warning">
                Aucun articles de trouver
                <a href="{{ path('home') }}">Revenir à l'accueil</a>
            </div>
        {% else %}
            {% for post in posts %}
                
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
