#burgernav {
  .hamburger {
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after  {
    background-color: purple;
  }
  
  .content-menu {
    background-color: rgba(251, 225, 146, 0.5);
    position: fixed;
    width: 150px;
    height: 350px;
    border-radius: 3px;
    top: -360px;
    right: 0;
    transition: 0.4s;
    z-index: 9 !important;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    border: 2px solid purple;
    background-color: rgb(255, 255, 255);
    ul {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 100px;
        a {
            text-decoration: none;
            font-weight: bold;
            text-align: left;
            font-size: 1.1em;
            margin: 15px 0;
            transition: 0.4s;
            color: purple !important;
            &:hover {
                cursor: pointer;
                color: rgb(91, 77, 152) !important;
            }
        }
    }
    &.open {
        top: 0;
        right:0;
    }

 }
}
