<ul class="sidenav" id="mobile-demo">
    <div class="center-align">
        <a href="{{ path('home') }}" class="brand-logo">
            <img src="{{ asset('assets/images/logo-noir.svg') }}" alt="Museo" width="150" height="64">
        </a>
        <div class="divider"></div>
        <li><a href="#">Sass</a></li>
    </div>
</ul>