<nav class="nav-museo">
    <div class="nav-wrapper">
      <a href="{{ path('home') }}" class="brand-logo">
          <img src="{{ asset('assets/images/logo.svg') }}" alt="Museo" width="150" height="64">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown-monument">Gestion Monuments<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>    
    </div>
</nav>

<ul id="dropdown-monument" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>  

{% include "layout/menu/mobilenav.html.twig" %}