.profil {
    filter: brightness(1.05);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

    &-logo {
        max-width: 300px;
        min-width: 150px;
        margin: auto;      
    
        &_subtitle {
          font-variant: small-caps;
          font-size: 1.2rem;
          font-weight: bold;
          text-align: center;
          margin: 10px 0 50px 0;
          color: rgb(100, 43, 124);
        }
    }

    &-image {
        max-width: 300px;
        min-width: 150px;
        margin: auto;
    }

    h3 {
        color: rgb(100, 43, 124);
        text-align: center;
        margin-bottom: 1rem;
        width: 500px;
        font-size: 30px;
        font-variant:small-caps;
        
    }

    .profil-user {
        margin-top: 30px;
        width: 600px;
        margin: auto;
        margin-top: 30px;
        margin-top: 30px;
        justify-content: space-between;
        
        .pencil::before {   
            content: '';   
            display: inline-block;   
            height: 30px;   
            width: 30px;    
            background-size: 30px;   
            background-image: url('../../styles/images/pencil.svg'); 
            background-repeat: no-repeat;   
            margin-right: 20px;
            background-position: center center;
        }
        .pencil {
            max-width: 50%;
            display: flex;
            margin-left: 21%;
            align-items: center;
        }
        .profil-input {
            margin-bottom: 0;
        }
    
        .profil-update {
            margin: 1rem auto 2rem;
            max-width: 50%;
        }
    
    }

}



