h3 {
    color:purple;
    text-align: center;
}


.profil-page {
    color: purple;
    height: 100vh;
    background-image: url("../../styles/images/BG-Login-Signin.png");
    background: linear-gradient( rgba(251, 225, 146, 0.6),rgba(0, 0, 255, 0.5));
   
  
}

.profil-user {
    width: 50px;
    margin: 20px auto;
    display: block;
}
