#Burgernav {
    z-index: 2;
    position: fixed;
    margin-left: 89vw;
}

.popup {
    background-image: url("../../styles/images/menu.svg");
    width: 95px;
    height: 95px;
    margin: 3rem;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 100%;
    border: none;
}

.popup-content{
    color:purple;
    font-size: 20px;
    font-style:bold;
    font-variant-caps: small-caps;
    max-width: 120px;
}