#Burgernav {
    z-index: 2;
    position: fixed;
    top: 1rem;
    right: 0;
    
}

.popup {
    background-image: url("../../styles/images/menu.svg");
    width: 4rem;
    height: 4rem;
    margin: 1rem 2rem auto auto;
    padding: 10px; 
    border-radius: 100%;
    border: none;

    @media screen and (max-width: 425px)
    {
      width: 2.5rem;
      height: 2.5rem;
      margin: 1rem 1rem auto auto;
    }

    &-content {
      width: 7rem !important;
      font-size: 2rem;
      margin-right: 2rem;

      @media screen and (max-width: 425px)
      {
        width: 6rem !important;
        font-size: 1rem !important;
      }

      .navigation {
        width: 6rem;
        color:purple;
        font-size: 1rem;
        font-weight: bold;
        font-variant-caps: small-caps;

        @media screen and (max-width: 425px)
      {      
        font-size: 0.5rem !important;
        width: 6rem
      }
      }
    }
}
