@import '../../assets/styles/vars.scss';

body{
    background-color: $background-color;
}

.login {
  
    &-center {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
 } 