{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <div class="alert alert-danger">
            Aucun formulaire de connexion pour le moment
        </div>
        <a href="{{ path('home')}}" class="btn btn-primary">Revenir à l'accueil</a>
    </div>

{% endblock %}
