{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-4">

    <h1>Ajout d'un article</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Ajouter l'article</button>
        <a href="{{ path('admin.blog.index') }}" class="btn btn-info">Revenir sur la liste</a>
    {{ form_end(form) }}

</div>

{% endblock %}