div {
  position: relative;
}
input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
  border: 2px solid rgba(191, 191, 191, 0.5);
  font-size: 1.2em;
  transition: 0.2s;
  width: 100%;

  @media screen and (max-width: 425px)
      {
        font-size: 0.9em;
      }

    & + label {
      font-variant: small-caps;
      position: absolute;
      display: inline-block;
      left: 0;
      opacity: 0;
      font-weight: bold;
      font-size: 0.9em;
      color: rgb(100, 43, 124);
    }
    &::placeholder {
      color: rgba(191, 191, 191, 1);
    }
    &:focus {
      border: 2px solid rgb(100, 43, 124);
      & + label { // The label when input focused
        color: #B83B5E;
        transform: translateY(-13px);
        opacity: 1;
        transition-duration: .4s;

        @media screen and (max-width: 425px)
          {
            font-size: 0.8em;
          }
      }
      &::placeholder {  // The placeholder when input focused
        opacity: 0;
      }
    }
    .open + label {  // The label when input class = open
      transform: translateY(-13px);
      opacity: 1;
    }
}

@keyframes showLabel {
  0% {
    opacity: 0;
    top: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes removeLabel {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
    top: 1;
  }
}
