<form method="post" action="{{ path('monument_delete', {'id': monument.id}) }}" onsubmit="return confirm('Voulez vraiment supprimer le monument ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ monument.id) }}">
    <button class="btn btn-danger">Supprimer le monument</button>
</form>
