.about-container {
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 225, 146, 0.5);
  opacity: 0.7;
  width: 60%;
  margin: 2rem auto;
  text-align: center;

  @media screen and (max-width: 425px)
      {
        width: 80%;
        margin: 1rem auto;
      }

  .about-title {
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(59, 25, 73);
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant:small-caps;
  }

  .about-text {
    text-indent: 5%;
    text-align: justify;
    margin: 0.5rem auto;
    color: rgb(59, 25, 73);
  }

  .login-link {
    font-size: 1.1rem;
    font-variant: small-caps;
    color: rgb(100, 43, 124);
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;

    @media screen and (max-width: 1023px)
      {
        font-size: 0.9rem;
      }

    &:hover {
    color: #B83B5E !important;
    cursor: pointer;
    }
  }
  .title-history{
    margin-bottom:13px;
    color:black;
  }

  .title-staff{
    margin-bottom:20px;
    color:black;
  }

  .image{
      width:50px;
      height:30px;
  }

  .staff-label {
      background:none;
  }

  .link {
    padding: 10px;
   
  &:after {
    background: black;
    padding: 8px;
    color:teal; 
    font-weight: bolder;
    border-color: teal;
    }
  }
}