{% for label, messages in app.flashes(['warning', 'error', 'danger', 'success', 'info']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}