<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin.index') }}">Museo</a>
    <form class="form-inline">
        <a href="{{ path('home') }}" class="btn btn-secondary ml-2">Connexion</a>
        <a href="{{ path('home') }}" class="btn btn-secondary ml-2">Inscription</a>
        <a href="{{ path('admin.index') }}" class="btn btn-secondary ml-2">Backoffice</a>
    </form>
</nav>