<div class="col-12 md-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
        <tr>
            {#<td>{{ monument.id }}</td>
            {% if monument.target == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td><span class="badge badge-info">{{ monument.target }}</span></td>
            {% endif %}
            <td>
                <a href="{{ path('dashboard.monument.edit', {id: monument.id}) }}" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                <a href="{{ path('dashboard.monument.delete', {id: monument.id}) }}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
            </td>#}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>