{% extends 'base.html.twig' %}

{% block title 'Accueil Dashboard' %}

{% block body %}

{% include 'layout/sidebar.html.twig' %}

<div class="wrapper">
    {% include 'layout/message.html.twig' %}
    <main class="container-fluid">
            <h3>Liste des Utilisateurs </h3>
            <p>
                Actuellement <span class="badge badge-secondary">{{ count }}</span> utilisateurs
            </p>
            <span><a href="{{ path('dashboard.user.add') }}" class="btn btn-success mb-4">Ajouter un utilisateur</a></span>
            {% if users == null %}
                <div class="alert alert-danger" role="alert">
                    <h4>Aucun utilisateurs en base de données</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam culpa nulla ipsam sed laborum in nemo dolor nostrum voluptatum eveniet id laboriosam beatae enim iusto dolore nihil facilis, sequi reprehenderit.</p>
                </div>
            {% else %}   
                <div class="row">
                    {% include 'dashboard/user/_table.html.twig' %}  
                </div>
            {% endif %}
    </main>
</div>
{% endblock %}
